<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ team.title }}</title>
</head>
<body>
    <h1>{{ team.title }}</h1>
    <div>
        <h2>Задачи</h2>
        {% for task in team.tasks.all %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ task.id }}">
                <p>Описание: {{ task.description }}</p>
                <p>Дедлайн: {{ task.deadline }}</p>
                <div>Ограничения: {% for restriction in task.restrictions.all %} <p>{{ restriction.name }};</p>{% endfor %}</div>
                <p>Создано: {{ task.created_at }}</p>
                <p>Выполнено: {{ task.completed_at }}</p>
                <input type="submit" value="Выбрать">
            </form>
        {% endfor %}
        <h2>Сотрудники</h2>
        {% for user in team.users.all %}
        <p>Имя: {{ user.name }} Должность: {{ user.position }}</p>
        {% endfor %}
    </div>
</body>
</html>