{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'teams_list' %}">Главная</a>
            <a href="{% url 'user_profile' pk=user.id%}">Личный кабинет</a>
            <a href="{% url 'user_logout' %}">Выйти из аккаунта</a>
        </nav>
    </header>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Изменить пароль</button>
    </form>
</body>
</html>
{% else %}
    <meta http-equiv = "refresh" content = "0; url = {% url 'user_auth' %}"/>
{% endif %}