{% if user.is_authenticated%}
<meta http-equiv = "refresh" content = "0; url = {% url 'teams_list' %}"/>
{% else %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <main>
        <div class="login_div">
            <div class="container">
                <h1>Вход</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="button_container">
                        <button type="submit">Вход</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
{% endif %}