{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Команды</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'teams_list' %}">Главная</a>
            <a href="{% url 'user_profile' pk=user.id%}">Личный кабинет</a>
            <a href="{% url 'user_logout' %}">Выйти из аккаунта</a>
        </nav>
    </header>
    <main>
    {% for team in teams %}
        <div class="teamlist_div">
            <div>
                <h1>{{ team.title }}</h1>
                <p><a href="{{ team.id }}">Перейти</a></p>
            </div>
        </div>
    {% endfor %}
    </main>
</body>
</html>
{% else %}
    <meta http-equiv = "refresh" content = "0; url = {% url 'user_auth' %}"/>
{% endif %}